.btn{
    border: none;
    outline: none;
    background-color: brown;
    color: white;
    width: fit-content;
    padding: 0 1rem;
    height: 3rem;
}

.input{
    width: 100%;
    padding-left: 1rem;
    height: 3rem;
    background-color: white;
    border: none;
}

.input:focus{
    outline: brown;
    border-color: brown;
}